{% extends "main.html" %}

{% block content %}

<!-- Navbar -->
{% include "navbar.html" %}

<!-- Home/Opening Statements -->
{% include "home.html" %}

<!-- About me and My Work -->
{% include "aboutme.html" %}

<!-- Services -->
{% include "services.html" %}

<!-- About me and My Work -->
{% include "latestWorks.html" %}

<section class="freelancer-available py-5 bg-primary">
    <duv class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="text-light fs-5">Do you have any project?</p>
                <h2 class="fs-1 text-light mb-3">I'm available for Freelancer Projects</h2>
                <a href="#" class="btn btn-outline-light">Hire me</a>
            </div>
        </div>
    </duv>
</section>

<!-- Testimonials -->
{% include "testimonials.html" %}

<!-- Contact -->
{% include "contactme.html" %}

<!-- Footer -->
{% include "footer.html" %}

{% endblock %}