<!-- Services -->
<section class="services py-5" id="services">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2>What I do</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            {% for service in services %}

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-item shadow-sm p-4 rounded bg-white">
                    <div class="icon my-3 text-danger fs-2">
                        <i class="bi bi-facebook"></i>
                    </div>
                    <h3 class="fs-4 py-2">Web Development</h3>
                    <p class="text-muted">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam asperiores esse voluptates
                        accusamus obcaecati ab non corrupti ea, animi sapiente.
                    </p>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>